body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  color: #202830;
}

.header-con, .pod-con {
  background-color: #202830;
  color: #fff;
}

.header, .col-2 {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  max-width: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-family: Raleway;
}

img {
  max-width: 225px;
  border-radius: 35px;
  background-color: #949ca5;
  padding: 8px;
}

h1 {
  margin-bottom: 8px;
  font-size: 30px;
  margin-top: 12px;
}

.pod-con {
  padding: 20px 0;
}

.col-2 {
  border: 1px solid #fff;
  padding: 0 20px;
}

.podcast {
  border-right: 1px solid #fff;
}

.podcast, .contact {
  max-width: 1024px;
  margin: 20px auto;
  width: 45%;
  display: inline-block;
  padding: 0 20px;
}

.podcast h2, .contact h2 {
  border-bottom: 1px solid #fff;
  padding: 10px;
  margin-top: 5px;
  color: #fff;
  text-align: left;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

.header h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.webdev-links a li {
  position: relative;
  transition:color 0.25s ease;
  padding: 16px;
  width: 110px;
  font-size: 18px;
  margin-top: 10px;
  font-family: Raleway;
}

.webdev-links a li#blog:hover, .webdev-links a li#github:hover, .webdev-links a li#codepen:hover {
  color: #fff;
  transition: 0.5s ease;
}

.webdev-links a li#blog::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #46ad46;
  transform-origin:left;
  transition:width 0.25s ease;
  z-index:-1;
}

.webdev-links a li#github::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e05f5f;
  transform-origin:left;
  transition:width 0.25s ease;
  z-index:-1;
}

.webdev-links a li#codepen::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4c99e8;
  transform-origin:left;
  transition:width 0.25s ease;
  z-index:-1;
}

.webdev-links a li#blog:hover::after, .webdev-links a li#github:hover::after, .webdev-links a li#codepen:hover::after {
  width: 100%;
}

li#blog {
  color: #46ad46;
  border: 1px solid #46ad46;
}

li#github {
  color: #e05f5f;
  border: 1px solid #e05f5f;
}

li#codepen {
  color: #4c99e8;
  border: 1px solid #4c99e8;
}

.description {
  max-width: 50%;
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid #fff;
  margin-left: 40px;
  border-radius: 20px;
  vertical-align: middle;
  background-color: #353f4a;
  text-align: left;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

h2 {
  border-bottom: 1px solid #202830;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.social-con {
  margin: 20px;
}

.social-icons {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #202830;
}

.social-icons h3 {
  border-bottom: 1px solid #202830;
  padding-bottom: 10px;
  max-width: 500px;
  margin: 20px auto;
}

ul {
  padding: 0;
}

.social-icons li {
  font-size: 24px;
  padding: 10px;
  border: 1px solid #3b5998;
  width: 24px;
  margin: 0 3px;
}

li#facebook {
  color: #3b5998;
}

li#facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

li#twitter {
  color: #1DA1F2;
  border-color: #1DA1F2;
}

li#twitter:hover {
  background-color: #1DA1F2;
  color: #fff;
}

li#instagram {
  color: #bc2a8d;
  border-color: #bc2a8d;
}

li#instagram:hover {
  background-image: linear-gradient(to bottom left, #bc2a8d, #e95950);
  color: #fff;
}

li#linkedin {
  color: #0077B5;
  border-color: #0077B5;
}

li#linkedin:hover {
  background-color: #0077B5;
  color: #fff;
}

li#letterboxd {
  font-family: 'Heebo', sans-serif;
  color: #2c3440;
  border-color: #2c3440;
  height: 24px;
  padding: 6px 10px;
  padding-bottom: 14px;
  width: 24px;
}
li#letterboxd:hover {
  background-color: #2c3440;
  color: #9ab;
}

.footer-con {
  background-color: #202830;
  color: #fff;
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}
